 body{
    background-color: gray;
 }
 
 
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
 .navbar-menu{
    display: flex;
    flex-direction: row;
    padding: 10px;
    
 }
 .navbar-menu a{
    background-color: transparent;
    color: black;
 }
 .navbar-menu a:hover{
   background-color: aqua;
 }
 .ab-des{
    align-items:right;
 }
 .ab-image img{
    margin-top: 50px;
    width: 150px;
    height: 140px;
 }
  
 .footer-menu a{
   display: inline-table;
   background-color: blueviolet;
   padding: 10px;
   margin: 10px;
   border-radius: 10px;

 }